.dropdown {
    background: transparent;
    color:antiquewhite;
    border: 2px solid antiquewhite;
    border-radius: 3px;
}

.dropdown option {
    background-color: #101010;
    border: 2px solid antiquewhite;
}

.gallery {
    width: 100%;
}

.spacer {
    flex: 1;
}

.subheader {
    width: 100%;
    display: flex;
}

.viewport-container {
    display: block;
    width: 100%;
    
}

.viewport-container ul{
    display: block;
    list-style-type: none;
    
    text-align: center;
    
}

.viewport-container li{
    display: inline-block;
}

